#ifndef CONFIG_MQTT_H
#define CONFIG_MQTT_H

// MQTT settings
const char* MQTT_HOST = "broker.mqtt-dashboard.com";
const int MQTT_PORT = 1883;
const char* MQTT_TOPIC_BASE = "/test/car";
const char* MQTT_USER = "";
const char* MQTT_PASS = "";

const char* MQTT_CLIENT_ID = "green";

#endif
